
body {
	font-size: 18px;
}

.body-content {
	position: fixed;
	top: 50px;
	right: 0;
	left: 0;
	bottom: 0;
}

.text {
	background-color: #eee;
	position: absolute;
	width: 50%;
	height: 60%;
	top: 0;
	left: 0;
	border: 2px solid #0af;
	overflow-y: auto;
}

.text p {
	margin: 2em;
}

.input {
	position: absolute;
	width: 50%;
	height: 60%;
	top: 0;
	right: 0;
	border: 2px solid #0af;
}

.input textarea {
	font-size: 18px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	resize: none;
	outline: none;
	width: 100%;
	padding: 2em;
	border: none;
}

.output {
	position: absolute;
	width: 100%;
	height: 40%;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	color: #0af;
	font-family: monospace;
	overflow-y: auto;
	overflow-x: hidden;
}

.output p#output { /* this is where our output goes */
	margin: 2em;
}

#register-input-box{
    border: 2px solid #0af;
    border-radius: 8px;
    height: 404px;
    margin: 50px auto;
    padding: 5%;
    width: 70%;
}

#register-input-box label {
    color: #7f7f7f;
    font-family: "Ubuntu Mono",monospace;
    font-size: 25px;
    text-align: center;
    width: 100%;
}


#register-input-box input {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    margin: 0 auto 20px;
    padding: 4px 6px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width: 100%;
}

#register-input-box label.error{
	color: #b94a48;
}

#register-input-box label.error input{
    border-color: #b94a48
}

.pass {
    border: 2px solid #4f4;
}

.fail{
    border: 2px solid #f44;
}

.register-output{
    border-radius: 8px;
    margin: 50px auto;
    padding: 5%;
    width: 100%;
}

.register-output p{
    text-align: center;
}

.register-helpers {
    bottom: 0;
    height: 30px;
    position: fixed;
    right: 0;
    text-align: right;
}

#register-input-box.login-input-box{
    height: 250px;
}

#register-input-box .btn{
    float: right;
}

.navbar.navbar-inverse{
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

.footer-output{
    background-color: #FFF;
    border: 2px solid #0af;
    border-top: 0;
    color: #333333;
    border-radius: 0 0 8px 8px;
}

.index-input{
    border-left: 0;
}