body {
	font-size: 24px;
	font-family: 'Ubuntu Mono', monospace;
	color: #fff;
}

.effects {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #048;
	transition: background-color 0.7s;
	z-index: -1;
}

.input {
	margin: 50px auto;
	width: 50%;
	z-index: 3;
	border: 2px solid #0af;
	border-radius: 8px;
	padding: 5%;
}

.input label {
	width: 100%;
	text-align: center;
	font-size: 25px;
	font-family: 'Ubuntu Mono', monospace;
}

.input input {
	font-size: 25px;
	margin: 10px 0;
	width: 100%;
	background-color: #026;
	color: #fff;
	font-family: 'Ubuntu Mono', monospace;
	padding: 10px;
}

.input a {
	background-color: #026;
}

.output {
	margin: 50px auto;
	width: 50%;
	z-index: 5;
	border-radius: 8px;
}

.output p {
	text-align: center;
}

.pass {
	border: 2px solid #4f4;
}

.fail {
	border: 2px solid #f44;
}

.output p {
	margin: 2em;
}