@{
    ViewBag.Title = "Keysassyness";
}

<section class="text">
    <div>
        <p>
            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog.
        </p>
        <p>
            One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
        </p>
    </div>
</section>

<section class="input index-input">
    <textarea class="KeyStrokeCounter textPass"></textarea>
</section>

<section class="output footer-output">
    <p id="output"></p>
</section>

@section scripts {

    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/Hubs"></script>

    <script>
        $(function () {

            var hub = $.connection.echoHub;
            hub.client.NewCharacter = function (character) {
                $('#output').append(htmlEncode(character));
            };
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>

<script type="text/javascript" src="~/Scripts/register.js"></script>
<script type="text/javascript" src="~/Scripts/rx.lite.js"></script>
<script type="text/javascript" src="~/Scripts/rx.jquery.js"></script>
<script type="text/javascript" src="~/Scripts/moment.js"></script>
<script type="text/javascript" src="~/Scripts/script.js"></script>
}