@{
    ViewBag.Title = "Keysassyness";
}

<section class="text">
    <div>
        <p>
            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog.
        </p>
        <p>
            One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
        </p>
    </div>
</section>

<section class="input">
    <textarea id="TxtMessage"></textarea>
</section>

<section class="output">
    <p id="output"></p>
</section>

@section scripts {

    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/Hubs"></script>

    <script>
        $(function () {

            var hub = $.connection.echoHub;
            hub.client.NewCharacter = function (character) {
                $('#output').append(htmlEncode(character));
            };

            $.connection.hub.start().done(function () {
                $('#TxtMessage').keypress(function () {
                    hub.server.send($('#TxtMessage').val().slice(-1));
                });
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}