@{
    ViewBag.Title = "Keysassyness";
}

<section id="register-input-box" class="form-horizontal">
    <label>
        Type your name
        <input class="KeyStrokeCounter textName"></input>
    </label>
    <label>
        Type your e-mail
        <input class="KeyStrokeCounter textEmail"></input>
    </label>
    <label>
        Type your pass phrase
        <input class="KeyStrokeCounter textPass"></input>
    </label>
    <button class="btn btn-info" id="start">Register</button>
</section>

<section id="output-pass" class="register-output pass">
    <p>
        Login successful
    </p>
</section>

<section id="output-fail" class="register-output fail">
    <p>
        Login failed
    </p>
</section>

@section scripts {
    <script type="text/javascript" src="~/Scripts/register.js"></script>
    <script type="text/javascript" src="~/Scripts/rx.lite.js"></script>
    <script type="text/javascript" src="~/Scripts/rx.jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/Hubs"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>
}